html 
{
  font-family: Arial, Helvetica, sans-serif
}

p, li 
{
  font-family: "Times New Roman", Times, serif
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}


html 
{
  background-color: white;
  font-size: 40px;
}

body 
{
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: white;
  color: black;
  font-size: 15px;
  /*padding: 0 20px 20px 20px;*/
}

h1 
{
  font-size: 50px;
  text-align: left;
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 0px;
  color: black;
  margin-bottom: 0;
}

h2 
{
  font-size: 20px;
  text-align: left;
  padding-right: 10px;
  padding-left: 0px;
  color: grey;
  position: relative;
  margin-top: 0;
  margin-bottom: 0px;
}

h3
{
  font-size: 15px;
  text-align: right;
  margin-top:136px;
  padding-right: 10px;
  padding-left: 0px;
  margin-bottom: 0px;
}

h4
{
  font-size: 30px;
  text-align: left;
  margin: 0 auto;
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}

h5
{
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

h6
{
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
}

p
{
  padding-left: 15px;
  padding-right: 0px;
  color: grey; 
}

img 
{
  display: block;
  padding-top: 10px;
  padding-right: 0px;
  padding-left: 0px;
}


hr 
{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.columnheader
{
  float: left; 
  width: 25%;
  /*background-color:blue;*/
}

.columnside
{
  float: left; 
  width: 20%;
  /*background-color:yellow;*/

}

.column
{
  padding-top: 0%;
  float: left; 
  width: 30%;
  /*background-color:orange;*/
}

.columngameimg
{
  padding-top: 2%;
  padding-bottom: 2%;
  float: left; 
  width: 20%;
  /*background-color:orange;*/
}

.columngamedes
{
  padding-top: 2%;
  padding-bottom: 2%;
  float: left; 
  width: 40%;
  /*background-color:orange;*/
}

.row:after 
{
  content: "";
  display: table;
  clear: both;
}